:root{
    --font-use: "Raleway", sans-serif;
    --color-text-hover-1: #FF589E;
    --color-button-1: #FF589E;
    --color-button-1-hov: #8261EE;
}
*{
    box-sizing: border-box;
    font-family: var(--font-use);
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}