/* Button  */
.button{
    display: inline-flex;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 40px;
    transition: background-color 0.4s;
}
.button1{
    color: #fff;
    background-color: var(--color-button-1);
}
.button1:hover{
    color: #fff;
    background-color: var(--color-button-1-hov);
}
.button2{
    color: #fff;
    background-color: var(--color-button-2);
}
.button2:hover{
    color: #fff;
    background-color: var(--color-button-2-hov);
}
/* End Button  */

/* Header  */
.header{
    padding-top: 1.5rem;
    position: fixed;
    z-index: 100;
    top: 30px;
    width: 100%;
}
.header .inner-head{
    width: 100%;
    background-color: #fff;
    border-radius: 40px;
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.header .inner-head ul{
    margin-right: 0;
    padding-right: 0;
}
.header .inner-head .nav li{
    padding: 0 0.8rem;
}

.header .inner-head .nav li:last-child{
    padding-right: 0;
}

.header .inner-head .nav li a{
    font-size: 15px;
}
.header .inner-head .menu{
    display: none;
    font-size: 25px;
}


.active{
    color: var(--color-text-hover-1);
}
.header .inner-head .nav li a{
    transition: all 0.4s;
}
.header .nav li a:hover{
    color: var(--color-text-hover-1);
}
@media (max-width: 992px){
   .header .inner-head .menu{
        display: block;
   }
   .header .inner-head .nav{
        display: none;
   }
}
/* End Header  */

/* Introduction  */
.intro{
    background-image: url("../images/banner-bg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0;
    padding-top: 20%;
    text-align: center;
    text-wrap: wrap;
    position: relative;
}
.intro .inner-title{
    color: #fff;
    font-size: 37px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.intro .inner-desc{
    color: #fff;
    line-height: 1.5;
    margin-bottom: 15px;
}
/* End Introduction  */
/* Menu List  */
.menu-list{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    position: relative;
    z-index: 2;
}
.menu-list .box .inner-box{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    padding-top: 25px;
    
}
.menu-list .box .inner-box .inner-icon{
    width: 80px;
    height: 80px;
    background-color: var(--color-bg-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition: all 0.6s;
}
.menu-list .box .inner-box .feature-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}
.menu-list .box .inner-box p{
    color: var(--color-text-1);
    font-size: 13px;
}
.menu-list .box .inner-box:hover .inner-icon{
    background-color: var(--color-bg-1);
}
@media (max-width: 1200px){
    .menu-list{
        height: 30px;
    }
}
@media (max-width: 992px){
    .menu-list{
        height: auto;
    }
    .menu-list .box .inner-box{
        margin-bottom: 2rem;
    }
}
/* End Menu List  */
/* About  */
.about{
    padding: 80px 0;
}
.about .inner-img{
    margin-bottom: 25px;
}
.about .inner-title{
    font-size: 25px;
    margin-bottom: 35px;
}
.about .inner-desc{
    font-size: 17px;
    color: var(--color-text-1);
    line-height: 1.5;
}
/* End About  */
/* Work Process  */
.work-process{
    background-image: url("../images/work-process-bg.png");
    text-align: center;
    padding: 90px 0;
}
.work-process .inner-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-process .work-title{
    font-size: 27px;
    padding-top: 20px;
    color: #fff;
    margin-bottom: 20px;
}
.work-process .work-desc{
    color: #fff;
    font-size: 13px;
    text-wrap: wrap;
}
.work-process .box{
    width: 100%;
    height: auto;
    position: relative;
    
}
.work-process .box .inner-box{
    background-color: #fff;
    display: block;
    width: 100%;
    border-radius: 20px;
    padding: 22px;
    position: relative;
    z-index: 6;
    transition: all 0.6s;
}
.work-process .box:hover .inner-box{
    transform: translateY(-10px);
}
.work-process .box::after{
    background-color: var(--color-bg-3);
    border-radius: 20px;
    content: "";
    top: 10px;
    left: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: all 0.6s;
}
.work-process .box:hover::after{
    transform: translateY(-10px);
}
.work-process .inner-box img{
    margin-bottom: 15px;
}
.work-process .inner-box .inner-title{
    color: #000;
    font-size: 16px;    
    margin-bottom: 7px;
}
.work-process .inner-box .inner-desc{
    color: var(--color-text-1);
    padding: 0;
    font-size: 13px;
    text-wrap: wrap;
}
/* End Work Process  */
/* Testimonials */
.testimonials{
    padding: 130px 0;
}
.testimonials .inner-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials .inner-wrap .inner-title{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 24px;
}
.testimonials .inner-wrap .inner-desc{
    color: var(--color-text-1);
    font-size:14px;
    text-wrap: wrap;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom:25px;
}
.testimonials .inner-box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials .inner-box img{
    margin-bottom: 25px;
}
.testimonials .inner-box .testimonials-desc{
    font-size: 15px;
    color: var(--color-text-1);
}
.testimonials .inner-box .boxC{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.testimonials .inner-box .team-info{
    /* width: 100% - 60px; */
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    padding-left: 15px;
    transition: all 0.6s;
}
.testimonials .inner-box:hover .team-info{
    padding-left: 30px;
}
.testimonials .inner-box .team-info .inner-name{
    font-size: 16px;
}
.testimonials .inner-box .team-info .inner-field{
    font-size: 14px;
    color: var(--color-text-1);
}
.testimonials .inner-box .i2{
    display: inline-block;
    background-image: url("../images/vit.png");
    width: 60px; 
    height: 60px;
    background-size: cover;
    border-radius: 50%;
    background-position: top right;
    padding: 0; 
    margin: 0;
}
/* End Testimonials */
/* Pricing Plans  */
.pricing-plan{
    padding: 90px 0;
    background-color: var(--color-bg-4);
}
.pricing-plan .inner-wrap{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.pricing-plan .inner-title{
    font-size: 29px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.pricing-plan .inner-desc{
    font-size: 15px;
    color: var(--color-text-1);
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 45px;
}
.pricing-plan .box{
    width: 100%;
}
.pricing-plan .inner-box{
    background: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}
.pricing-plan .inner-box .pricing-title{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.pricing-plan .inner-box .inner-price{
    width: 100%;
    border-radius: 20px;
    background-color: var(--color-bg-2);
    text-align: center;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 20px;
}
.pricing-plan .box div:nth-child(2) .inner-box .inner-price {
    background-color: var(--color-bg-1);
}

.pricing-plan .inner-box .inner-price i{
    font-size: 32px;
}
.pricing-plan .inner-box .inner-price span{
    font-size: 28px;
    font-weight: 665;
}
.pricing-plan .inner-box .inner-price p{
    margin-bottom: 0;
}
.pricing-plan .inner-box ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.pricing-plan .inner-box ul li{
    color: var(--color-text-1);
    font-size: 13px;
    margin-bottom: 12px;
}

/* End Pricing Plans  */
/* Footer  */
.footer{
    background-color: var(--color-bg-5);
    padding: 30px 0;
}
.footer .inner-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.footer ul li{
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.6s;
}
.footer ul li:hover{
    background-color: var(--color-bg-1);
}
.footer ul li a{
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
}
.footer ul li a i{
    color: var(--color-bg-5);
    font-size: 16px;
}
.footer ul li:hover a i{
    color: #fff;
}
.footer .copyright{
    color: #fff;
    font-size: 16px;
}
/* End Footer  */
/* Others */
/* End Others */