/* Button  */
.button1{
    display: inline-flex;
    font-size: 13px;
    color: #fff;
    padding: 10px 15px;
    background-color: var(--color-button-1);
    border-radius: 40px;
    transition: background-color 0.4s;
}
.button1:hover{
    color: #fff;
    background-color: var(--color-button-1-hov);
}
/* End Button  */

/* Header  */
.header{
    padding-top: 1.5rem;
    position: fixed;
    z-index: 100;
    top: 30px;
    width: 100%;
}
.header .inner-head{
    width: 100%;
    background-color: #fff;
    border-radius: 40px;
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner-head ul{
    margin-right: 0;
    padding-right: 0;
}
.header .inner-head .nav li{
    padding: 0 0.8rem;
}

.header .inner-head .nav li:last-child{
    padding-right: 0;
}

.header .inner-head .nav li a{
    font-size: 15px;
}
.header .inner-head .menu{
    display: none;
    font-size: 25px;
}


.active{
    color: var(--color-text-hover-1);
}
.header .inner-head .nav li a{
    transition: all 0.4s;
}
.header .nav li a:hover{
    color: var(--color-text-hover-1);
}
@media (max-width: 992px){
   .header .inner-head .menu{
        display: block;
   }
   .header .inner-head .nav{
        display: none;
   }
}
/* End Header  */

/* Introduction  */
.intro{
    background-image: url("../images/banner-bg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0;
    padding-top: 20%;
    text-align: center;
    text-wrap: wrap;
    position: relative;
}
.intro .inner-title{
    color: #fff;
    font-size: 37px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.intro .inner-desc{
    color: #fff;
    line-height: 1.5;
    margin-bottom: 15px;
}
/* End Introduction  */
/* Menu List  */
.menu-list{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    position: relative;
    z-index: 2;
}
.menu-list .box .inner-box{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    padding-top: 25px;
    
}
.menu-list .box .inner-box .inner-icon{
    width: 80px;
    height: 80px;
    background-color: var(--color-bg-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition: all 0.6s;
}
.menu-list .box .inner-box .feature-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}
.menu-list .box .inner-box p{
    color: var(--color-text-1);
    font-size: 13px;
}
.menu-list .box .inner-box:hover .inner-icon{
    background-color: var(--color-bg-1);
}
@media (max-width: 992px){
    .menu-list{
        height: auto;
    }
    .menu-list .box .inner-box{
        margin-bottom: 2rem;
    }
}
/* End Menu List  */